.exampleBackgroundColor{
    background-color: bisque;
}
.increaseFontSize{
    font-size: 2em;
    text-align: center;
    
}
.container{
    background-color: black;
    color: white;
}
